.journalEntry-li{
    margin: 4px;
    width: 100%;
    padding: .5em;
    border-radius: 4px;
    padding: 4px;
    cursor: pointer;
}
.jounralEntry-li li:hover {
    color: rgb(221, 107, 177);
    background-color: #DDD;
    left: 2px;
  }

  .journalEntry-li li.selected {
    background-color: rgb(19, 101, 136);
    color: white;
  }

 
.journalEntry-block{

 display: flex;
 width: 100%;
align-items: baseline;
justify-content: space-between;
}
.journalEntry-name {
    padding: 8px;
    font-size: 1.5em;
}

.journalEntry-date {
   width: 40%;
   text-align: left;
}

.journalNav {
    width: 100%;
    justify-self: space-around;
    height: fit-content;
}

.journalName {
    width: 60em;
    height: 3em;
}
.journalBody {
    width: 60em;
    height: 40em;
    box-sizing: border-box;
    
}